@model IEnumerable<MVC.WebApplication.Models.NoteModel>
@{
    ViewData["Title"] = "Todo List";
}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="display:flex;justify-content:space-between;">
            <h1>@ViewData["Title"]</h1>
            <div style="display: inline-flex; align-items: center;">
                <button class="btn btn-primary ml-auto" type="button" name="" value="" id="ModalDetails_ButtonCreate" title="Create">
                    <i class="bi bi-plus"></i>&nbsp;&nbsp;Create&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="d-inline-flex">
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table TableList table-hover" id="TableNoteList">
                <thead>
                    <tr>
                        <th></th>
                        <th>Title</th>
                        <th>Owner</th>
                        <th>Due Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <input type="hidden" value="@(item.NoteId)" id="NoteId">
                                    <a id="ButtonView" name="" title="View"><i class="bi bi-eye" style="font-size:1.10em;"></i></a>
                                </td>
                                <td>@item.Title</td>
                                <td>@item.OwnerName</td>
                                <td>@item.DueDate</td>
                                <td>@item.StatusName</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Bootstrap Modal - ModalDetails -->
<div class="modal fade" id="ModalDetails" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" id="FormDetails" enctype="multipart/form-data" class="row g-3 needs-validation">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h3 class="modal-title Title"></h3>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close" title="Close" style="border:none;background:none;">
                        <i class="bi bi-x-lg" style="font-size:1.5em;"></i>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" name="button" value="" id="ModalDetails_ButtonEdit" title="Edit">
                        <i class="bi bi-pen"></i>&nbsp;&nbsp;Edit&nbsp;&nbsp;
                    </button>
                    <button class="btn btn-success" type="submit" name="button" value="" id="ModalDetails_ButtonSubmit" title="Submit">
                        <i class="bi bi-save"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;
                    </button>
                    <button class="btn btn-primary" type="button" name="" value="" id="ModalDetails_ButtonCancel" title="Cancel">
                        <i class="bi bi-x-lg"></i>&nbsp;&nbsp;Cancel&nbsp;&nbsp;
                    </button>
                    <button class="btn btn-danger" type="button" name="" value="" id="ModalDetails_ButtonDelete" title="Delete">
                        <i class="bi bi-trash3"></i>&nbsp;&nbsp;Delete&nbsp;&nbsp;
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript" src="~/js/NoteController.js" asp-append-version="true"></script>
}